<html>
<body>
<h3>HELLO WORLD! by Ruby on Rails special thanks to hasancc & TanerA </h1>
<h3>this is the first step for building my future goes San Jose, California :P </h1>
<h3>my github yilmazalican1992 </h1>
<img src="https://pine.fm/images/PoweredByRuby.png" />
</body>
</html>